<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="4.1.10311.0" />
  <package id="T4Scaffolding" version="1.0.0" />
  <package id="MvcScaffolding" version="1.0.0" />
  <package id="SqlServerCompact" version="4.0.8482.1" />
  <package id="EFCodeFirst" version="0.8" />
  <package id="WebActivator" version="1.0.0.0" />
  <package id="EFCodeFirst.SqlServerCompact" version="0.8.8482.1" />
</packages>